
*{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman",Georgia,Serif;
  text-align: center;
}
body,html{
  width: 100%;
  position: relative;
}
ul{
  margin-top:10%;
  height: 100px;
  width: 100%;
}
li{
  list-style: none;
  margin-top: 20px;
}
#compusRadios-ele1{
  margin-right: 20px;
}
#compusRadios-ele2{
  margin-left: 80px;
}
.studentForm select{
  line-height: 30px;
  height: 30px;
}
.studentForm-city{
  width: 180px;
}
.studentForm-school{
  width: 250px;
}
.jobForm-input{
  width:400px;
  height: 28px;
  line-height: 28px;
  text-align: left;
  text-indent: 1em;
}
.jobForm{
  display:none;
}
input,select{
  border-radius: 5px;
  border: 1px solid #CCC;
  margin-left: 10px;
  outline: none;
}
input,select:focus{
  border:1px solid #1670EB;
  border-radius: 5px;
}
